.bookName
{
    word-wrap: break-word;
}

.bookThumbnail
{
    width:15rem;
    height:18rem;
}
.bookContent
{
  width:15rem;
}

.home
{
  display: flex;
  margin-top:2rem;
  
}

.category
{
  width:15rem;
  position: sticky;
  top:0;
  text-align: center;
  margin-top: 2rem;
}

.booksContainer
{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:1rem;
  /* margin-left:5rem; */
}




/* .book{
  display: flex;
  
} */